.error{
    color: red;
}

.image-preview{
    height: 200px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.container-list{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.container-image{
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}